= form_for Address.new, url: wizard_path, :html => {:class => "general-form"} do |address|
  .form-group.mb-30
    %label.control-label.font-weight-light{for: "country"}= t('country')
    = address.text_field :country, class: "form-control get-address", id: 'country'
    %label.control-label.font-weight-light{for: "city"}= t('city')
    = address.text_field :city, class: "form-control get-address", id: 'city'
    %label.control-label.font-weight-light{for: "state"}= t('state')
    = address.text_field :state, class: "form-control get-address", id: 'state'
    %label.control-label.font-weight-light{for: "address"}= t('address')
    = address.text_field :address, class: "form-control get-address", id: 'address'
    %label.control-label.font-weight-light{for: "zip"}= t('zip')
    = address.text_field :zip, class: "form-control", id: 'zip'
    %br
      = address.submit 'Create user', class: 'center-block mb-20 btn btn-default'