%table.table
  %thead
    %tr
      %th #
      %th Login
      %th Email
      %th FullName
      %th Birthday
      %th 
  %tbody
    - @users.each do |user|
      %tr
        %th{:scope => "row"} 1
        %td= user.login
        %td= user.email
        %td= user.full_name
        %td= user.birthday
        %td
          =link_to 'show', look_at_user_path(user.id)
          - if can? :manage, user
            = link_to '| edit', edit_user_path(user)
            = link_to '| destroy', user_path(user), method: :delete

      