%main.container
  .row
    .col-sm-4
      .product-gallery
        .mb-20
          = image_tag @advert.avatar, class: 'img-responsive'
    .col-sm-6
      %h1.mt-res-0= @advert.user.full_name
      .card
        %p= t('description')
        %p.in-grey-600.small.line-height-2
          %textarea.border-none{ rows: 4, cols: 80, readonly: "readonly" }
            = @advert.description
        = link_to 'Back', :back
      - if can? :update, @advert
        = link_to 'Edit', edit_advert_path(@advert)
      - if can? :destroy, @advert
        = link_to 'Destroy', advert_path(@advert), method: :delete
  #comments
    = render partial: 'comments/comments_list', locals: { advert: @advert }
  - if can? :create, Comment
    = render partial: 'comments/comment_form', locals: { advert: @advert }
  - else
    %h3.text-center
      Only registered users can leave comments
      = link_to t('log_in'), new_user_session_path, class: 'general-title-margin'